*{
    font-family: 'Heebo', sans-serif;

    // --light-fuchsia: #59a985;
    // --dark-purple: #3a7563;
    // --light-cream: #e6d3a7;
    // --orange: #392f2f;
    // --beige: beige;

    // --light-fuchsia: #083358;
    // --dark-purple: #083358;
    // --light-cream: #62929a;
    // --orange: #ffd717;
    // --beige: #167a8b;

    --light-fuchsia: #C147E9;
    --light-purple-highlight: #c147e984;
    --light-purple: #7a02a2;
    --dark-purple: #2D033B;
    --darkest-purple: #1f0129;
    // --darkest-purple: #301B3F;
    --light-cream: #eeeeee;
    // --orange: #D36B00;
    // --orange: #f8c600;
    // --orange: #ffd500c6;
    --pink: #ff00c896;
    // --orange-highlight: #fa922bb9;
    // --orange-highlight: #f8c600d6;
    --pink-highlight: #ff00c8;
    // --beige: #eeeeee;

    @keyframes gradient-animation {
        0% {
            background-position: 0% 50%;
        }
        50% {
            background-position: 100% 50%;
        }
        100% {
            background-position: 0% 50%;
        }
    }
    @keyframes enter-animation-js{
        0% {
            transform: translateX(80%) rotate(30deg);
        }
        100% {
            transform: translateX(-20%) rotate(10deg);
        }
    }
    @keyframes enter-animation-react{
        0% {
            transform: translateX(80%) rotate(30deg);
        }
        100% {
            transform: translateX(-80%) rotate(10deg);
        }
    }
    @keyframes enter-animation-css{
        0% {
            transform: translateX(80%) rotate(30deg);
        }
        100% {
            transform: translateX(0%) rotate(10deg);
        }
    }

    @keyframes rotate {
        0%{
            rotate: 0deg;
            width: 400px;
            height: 400px;
        }
        50%{
            scale: 1 1.5;
        }
        100%{
            rotate: 360deg;
            width: 400px;
            height: 400px;
        }
    }

    @keyframes subtitle {
        0% {
            width: 0;
            opacity: 0;
        }
        100% {
            width: 120px;
            opacity: 1;
        }
    }

}
body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    height: auto;
    width: 100%;
    background-color: var(--darkest-purple);
    overflow-x: hidden;

    // background: linear-gradient(108deg,var(--dark-purple),var(--light-fuchsia));
    // background-size: 120% 120%;
    // animation: gradient-animation 20s ease infinite;

    // background-color: #2D033B;

    #blob{
            // background-color: var(--light-cream);
            height: 400px;
            aspect-ratio: 1;
            // position: absolute;
            filter: blur(20px);
            z-index: -6;
            // left: 50%;
            // top: 50%;
            translate: -50% -50%;
            // border-radius: 50%;
            background: linear-gradient(
            to right, 
            #f8c60067,
            #491f57
            );
            // var(--light-purple-highlight)
            animation: rotate 20s infinite;
            position: fixed ;
            // width: 50px;
            // height: 50px;
            border-radius: 50%;
            left: 0 ;
            top: 0;
            // transition:0.15s;
            // background-color: #eeeeee;
    }

    .banner-container{
        height: 100vh;
        overflow: hidden;
        display: flex;
        align-items: center;
        justify-content: center;
        .banner-container__wrapper {
            color: var(--light-cream);
            backdrop-filter: blur(500px);

            // background-color: var(--light-cream);
            height: 60vh;
            width: 50vw;
            padding: 1rem;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            text-align: center;
            margin: 10% 1rem;
            border-radius: 15px;
            z-index: 5;
            outline:3px solid;
            outline-offset: 4px; 
            & > *{
                margin: 1rem 0;
            }
            .title-box{
                width: fit-content;
                h1{
                    width: auto;
                    margin: 0;
                    padding: 0;
                    font-size: 3.5rem;
                    text-transform: uppercase;
                    font-family: 'Righteous', cursive;
                }
                span{
                    font-size: 2rem;
                    font-style: italic;
                    font-family: 'Amiko', sans-serif;
            }
            }
            .contactMe-box{
                width: fit-content;
                display: flex;
                justify-content: flex-start;
                align-items: center;
                svg{
                    fill: var(--dark-purple);
                    fill: var(--light-cream);
                    margin-right: 0.5rem;
                    cursor: pointer;
                    transition: all 0.3s ease-in-out;
                    &:hover{
                        fill: var(--pink);
                    }
                }
            }
        }
        
    }
    .aboutMe-container{
        width: 100%;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        .aboutMe-container__title{
            text-align: center;
            border-radius: 10px;
            padding: 5px 20px;
            font-family: 'Righteous', cursive;
            text-transform: uppercase;
            background-color: var(--darkest-purple);
            color: var(--light-cream);
            outline:var(--dark-purple) 2px solid;
            outline-offset: 4px; 

        }
        &__wrapper{
            display: flex;
            justify-content: center;
            align-items: center;
            width: 80vw;
            min-width: 700px;
            // background-color: var(--light-cream);
            margin: 0 auto;
            outline:var(--light-cream) 3px solid;
            outline-offset: 4px; 
            border-radius: 15px;
            
            backdrop-filter: blur(500px);

            .personalInfo-box{
                width: 40%;
                height: fit-content;
                margin: 0 auto;
                color: var(--light-cream);
                span{
                    font-size: 1.5rem;
                    font-family: 'Nunito Sans', sans-serif;

                }
                p{
                    font-family: 'Nunito Sans', sans-serif;
                    font-size: 1rem;
                }
                a{
                    font-size: 1.5rem;
                    font-weight: 800;
                    margin-right: 1rem;
                    font-family: 'Nunito Sans', sans-serif;
                    background-color: var(--pink);
                    text-decoration: none;
                    padding: 5px 10px;
                    border-radius: 50px;
                    border-bottom: 3px solid var(--darkest-purple);
                    color: var(--light-cream);

                    
                    &:hover, &:active{
                        border: none;
                        border-radius: 50px;
                    }
                    
                }
            }
            .skills-box{
                position: relative;
                height: 60vh;
                margin: 0 auto;
                display: flex;
                flex-direction: column;
                align-items: center;
                align-items: center;
                justify-content: center;
                .profile-container{
                    width: fit-content;
                    position: absolute;
                    top: -10%;
                    left: 0%;
                    opacity: 0.2;
                    .profile-img{
                        width: 200px;
                        border-radius: 30px;
                    }
                }
                .technology-container{
                    width: 100%;
                    display: flex;
                    justify-content: space-between;
                    span{
                        cursor: default;
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        justify-content: space-between;
                        margin-right: 10px;
                        padding: 2px 10px;
                        border-radius: 5px;
                        color: var(--light-cream);
                        text-decoration: none;
                        border: 2px solid var(--pink-highlight);
                    }
                }
                .courses-box{
                    display: grid;
                    grid-template-columns: repeat(2, 1fr);
                    grid-template-rows: auto;
                    .certificate-container{
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        align-items: center;
                        margin: 20px;
                        color: var(--light-cream);

                        img{
                            width: 150px;
                            cursor: pointer;
                        }
                        span{
                            font-size: 1rem;
                        }
                        &:last-child{
                            transform: translateX(calc(50% + 20px));
                        }
                    }
                }
            }
            .languages-box{
                display: flex;
                justify-content: space-around;
                width: 80%;
                span{
                    border-radius: 5px;
                    padding: 2px 10px;
                    color: var(--light-cream);
                    text-decoration: none;
                    border: 2px solid var(--pink-highlight);
                }
            }
        }
    }
    .modal{
        background-color: rgba(0, 0, 0, 0.7);
        position: fixed;
        z-index: 500;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        opacity: 0;
        pointer-events: none;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: all 0.1s ease-out;
        img{
            width: 50vw;
        }
    }
    .modal.open{
        z-index: 500;
        opacity: 1;
        pointer-events: all;
        transition: all 0.25s ease-in;
    }

    .projects-container{
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin-bottom: 2rem;

        .projects-container__title{
            text-align: center;
            border-radius: 10px;
            padding: 5px 20px;
            font-family: 'Righteous', cursive;
            text-transform: uppercase;

            // border: solid 2px var(--light-fuchsia);
            background-color: var(--darkest-purple);
            color: #eeeeee;
            outline:var(--dark-purple) 2px solid;
            outline-offset: 4px; 
        }
        &__wrapper{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 90vw;
            // background-color: var(--light-cream);
            backdrop-filter: blur(500px);
            color: var(--light-cream);
            outline:3px solid;
            outline-offset: 4px; 
            margin: 0 auto;
            border-radius: 15px;
            .projectPreview-container{
                width: 100%;
                height: 100%;
                display: flex;
                justify-content: space-around;
                align-items: center;
                margin: 0.5rem 0;   
                padding: 0.5rem 0;
                .project-thumbnail{
                    width: 30%;
                    border-radius: 5px;
                    box-shadow: 0 0 1px 1px rgb(40, 40, 40);
                }
                .project-info{
                    width: 60%;
                    height: 100%;
                    padding: 0.5rem 0;
                    
                    &__projectName{
                        font-size: 1.4rem;
                        font-family: 'Righteous', cursive;
                        text-transform: uppercase;
                        padding-right: 10px;
                    }
                    &__tech{
                        display: flex;
                        margin-top: 15px;
                        span{
                            cursor: default;
                            display: flex;
                            flex-direction: column;
                            align-items: center;
                            justify-content: space-between;
                            margin-right: 10px;
                            padding: 2px 10px;
                            border-radius: 5px;
                            color: var(--light-cream);
                            text-decoration: none;
                            border: 2px solid var(--pink-highlight);
                        }
                    }
                    .project-description{
                        margin: 1rem 0;
                        font-size: 1rem;
                        font-family: 'Nunito Sans', sans-serif;
                    }
                }
                .project-view{
                    a{ 
                        font-size: 1.2rem;
                        font-weight: 500;
                        margin-right:1rem;
                        background-color: var(--pink);
                        color: #000;
                        color: var(--light-cream);
                        text-decoration: none;
                        padding: 6px 14px;
                        border-radius: 50px;
                        border-bottom: 3px solid var(--darkest-purple);

                        &:hover, &:active{
                            border: none;
                            border-radius: 50px;
                        }
                    }
                }
            }
        }
    }
}

@media (max-width:850px) {
    body{
        #blob{
            height: 400px;
            aspect-ratio: 1;
            position: fixed;
            filter: blur(200px);
            z-index: -6;
            left: 50%;
            top: 50%;
            translate: -50% -50%;
            background: linear-gradient(
            to right, 
            var(--light-fuchsia),
            var(--dark-purple)
            );
            animation: rotate 20s infinite;
            position: fixed;
        }
        .banner-container{
            display: flex;
            justify-content: center;
            align-items: center;
            .banner-container__wrapper{
                width: 70vw;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                text-align: center;
            }
            &__backgroundshade{
                display: none;
            }
        }
        .aboutMe-container{
            .aboutMe-container__title{
                font-size: 2rem;
            }
            &__wrapper{
                width: 90vw;
                flex-direction: column;
                .personalInfo-box{
                    width: 90%;
                    margin: 2rem ;
                }
                .skills-box{
                    height: auto;
                    margin: 1rem;
                    .technology-container{
                        span{
                            font-size: 1.2rem;
                        }
                    }
                    .courses-box{
                        .certificate-container{
                            img{
                                width: 200px;
                            }
                            span{
                                font-size: 1rem;
                            }
                        }
                    }
                    .languages-box{
                        span{
                            font-size: 1.2rem;
                        }
                    }
                }
            }
        }
        .modal{
            img{
                width: 70vw;
                min-width: 400px;
            }
        }
        .projects-container{
            .projects-container__title{
                font-size: 2rem;
            }
            &__wrapper{
                .projectPreview-container{
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    .project-info{
                        text-align: center;
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        justify-content: center;
                        margin-bottom: 1rem;
                        .project-view{
                            a:last-child{
                                margin-right:0;
                            }
                        }
                    }
                }
            }
        }
    }

}
@media (max-width:750px) {
    body{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        height: auto;
        width: 100%;
        #blob{
            height: 400px;
            aspect-ratio: 1;
            position: fixed;
            filter: blur(200px);
            z-index: -6;
            left: 50%;
            top: 50%;
            translate: -50% -50%;
            background: linear-gradient(
            to right, 
            var(--light-fuchsia),
            var(--dark-purple)
            );
            animation: rotate 20s infinite;
            position: fixed;
        }
        .banner-container{
            display: flex;
            justify-content: center;
            align-items: center;
            .banner-container__wrapper{
                width:80vw;
                // flex-direction: column;
                // justify-content: center;
                // align-items: center;
                // text-align: center;
            }
            &__backgroundshade{
                display: none;
            }
        }
        .aboutMe-container{
            height: auto;
            .aboutMe-container__title{
                font-size: 2rem;
            }
            &__wrapper{
                width: 100%;
                width: 95%;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                min-width: auto;
                .personalInfo-box{
                    width: 80%;
                    margin: 1rem 0;
                }
                .skills-box{
                    height: auto;
                    margin: 1rem;
                    width: 90%;
                    .technology-container{
                        display: grid;
                        grid-template-columns: repeat(3, 1fr);
                        width: auto;
                        flex-direction: column;
                        span{
                            width: auto;
                            padding: 5px;
                            font-size: 1.2rem;
                            margin: 5px;
                            
                            &:nth-child(4){
                                transform: translateX(calc(25% + 30px));
                            }
                            &:nth-child(5){
                                transform: translateX(calc(25% + 30px));
                            }
                        }
                    }
                    .courses-box{
                        display: flex;
                        flex-direction: column;
                        .certificate-container{
                            img{
                                width: 200px;
                            }
                            span{
                                font-size: 1rem;
                            }
                            &:last-child{
                                transform: translateX(0);
                            }
                        }
                    }
                    .languages-box{
                        width: 100%;
                        flex-direction: column;
                        align-items: center;
                        span{
                            margin: 5px;
                            width: fit-content;
                            font-size: 1rem;
                        }
                    }
                }
                
            }
        }
        .modal{
            img{
                width: 90vw;
                min-width: 100px;
            }
        }
        .projects-container{
            .projects-container__title{
                font-size: 2rem;
            }
            &__wrapper{
                // width: 100%;
                width: 95%;

                .projectPreview-container{
                    flex-direction: column;
                    align-items: center;
                    justify-content: flex-start;
                    .project-thumbnail{
                        width: 200px;
                        border-radius: 5px;
                        box-shadow: 0 0 1px 1px rgb(40, 40, 40);
                    }
                    .project-info{
                        width: 90%;
                        height: 100%;
                        padding: 0.5rem 0;
                        margin: 2rem 0;
                        &__projectName{
                            font-size: 1.5rem;
                        }
                        &__tech{
                            display: flex;
                            width: auto;
                            height: auto;
                            span{
                                cursor: default;
                                display: flex;
                                flex-direction: column;
                                align-items: center;
                                justify-content: space-between;
                                margin-right: 10px;
                                padding: 2px 10px;
                                &:last-child{
                                    margin-right:0;
                                }
                                // width: 100%;
                            }
                        }
                        .project-description{
                            margin: 1rem 0;
                            font-size: 0.9rem;
                        }
                    }
                    .project-view{
                        a{ 
                            font-size: 1.2rem;
                            font-weight: 500;
                            margin-right:1rem;
                            text-decoration: none;
                            transition: all 0.3s;
                        }
                        
                    }
                }
            }
        }
    }
}